body{
    box-sizing: border-box;
    max-height: 100vh;
    text-align: center;
    align-items: center;
}

form{
    margin-top: 30%;
    padding: 2%;
}

form button{
    width: 100%;
    height: 4em;
    color: white;
    background-color: #2B50AA;
    border: none;
    border-radius: 8px;
}

