.aya-nav{
    background-color: #EB5757;
}

.page-heading{
    background-color: #EB5757;
}

.issues-content{
    padding: 7% 20%;
}

.issues-content form{
    padding: 3%;
}

.issues-content label{
    margin-bottom: 1em;
}

.issues-content form input, textarea{
    width: 100%;
    margin-bottom: 2em;
    height: 4.375rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 3%;
}

.issues-content button{
    width: 100%;
    height: 4.375rem;
    background-color: #2B50AA;
    border: none;
    border-radius: 8px;
    color: white;
}

@media screen and (max-width: 808px){
    .nav-ul{
        background-color: #EB5757;
    }

    .issues-content{
        padding: 7% 2%;
    }
}