/**************************************/
/**** blog contents *******************/
/**************************************/
.blog-section{
    margin-bottom: 32
    px;
    padding: 4% 25%;
}

.blog-contents{
    width: 46.375rem;
    height: 34.3125rem;
    margin-bottom: 4rem;
    align-items: center;
}

.blog-contents button{
    width: 107px;
    height: 44px;
    border: 1px solid #919499;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 400;
}

.blog-contents button:hover{
    background-color: #919499;
    color: white;
}

.page-shuffle{
    padding: 1% 25%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}

.page-shuffle button{
    width: 128px; 
    height: 44px;
    border: 1px solid #2B50AA;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 16px;
    font-size: 14px;
}

@media screen and (max-width: 808px){
    .blog-section{
        padding: 7% 2%;
    }

    .blog-contents{
        width: 100%;
        margin-bottom: 20px;
    }

    .blog-contents img{
        width: 100%;
    }
}
