body{
    position: relative;
}

.page-heading{
    background-color: #2B50AA;
    color: white;
    padding: 7% 10% 1%;
    text-align: center;
}

.page-heading h3{
    font-weight: bolder;
    font-size: 48px;
}

.page-heading p{
    opacity: 0.7;
}

@media screen and (max-width: 808px){
    .page-heading h3{
        font-size: 40px;
    }
}
